<h4>{{titulo}}</h4>

<!--div *ngIf="administrador; else noAdmin"-->
<div *ngIf="administrador; then admin else noAdmin">
  <!--button (click)=cambiar(false)>Cambiar estado</button>
  <strong style="background: yellow">Eres administrador de la WebApp</strong-->
</div>
<!--div *ngIf="!administrador">
  <strong style="background: red; color: white;">NO eres administrador de la WebApp</strong>
</div-->

<ng-template #admin>
  <button (click)=cambiar(false)>Cambiar estado</button>
  <strong style="background: yellow">Eres administrador de la WebApp</strong>
</ng-template>

<ng-template #noAdmin>
  <button (click)=cambiar(true)>Cambiar estado</button>
  <strong style="background: red; color: white;">NO eres administrador de la WebApp</strong>
</ng-template>


<hr>
<!--componente-hijo [texto1]="'Valor de la propiedad 1'" [texto2]="'Valor de la propiedad 2'"></componente-hijo-->

<componente-hijo [texto1]="datoExterno" [texto2]="identity.web" (desdeElHijo)="recibirDatos($event)">
</componente-hijo>

<div *ngIf="datosDelHijo">
  <h3>Datos del hijo inyectados al padre</h3>
  <h4>{{datosDelHijo.nombre}}</h4>
  <h4>{{datosDelHijo.web}}</h4>
  <h4>{{datosDelHijo.twitter}}</h4>
</div>